h1{
    font-size: 55px;
    height:430px;
    background-color:rgb(220, 245, 231);
    background-image: url("Elogo.png");
    background-size: 480px;
}

.top{
    background-color: brown;
}

.one{
    background-color: rgb(255, 226, 196);
    font-size:x-large;
}
.one::first-letter{
    font-size: 60px;
}
.two{
    color:darkgreen;
    font-size:35px;
}
#rrr{
    color:rgb(92, 137, 205);
    font-size: 40px;
}
.rck{
    color:crimson;
    font-size: 45px;
    font-weight: bolder;
}
h2{
    text-align:left;
    color:cadetblue;
}
.mat{
    font-size:37px;
    background-color: aquamarine;
}
.dpk{
    background-color: rgb(127, 227, 255);
    color:blue;
    font-size:60px;
}
.pik{
    width:200px;
}
.mkp{
    background-color:darksalmon;
    font-size:40px;
    font-weight:800;
    padding:4px;
    border-top: 11px solid darkblue;
    border-radius: 9px;
    border-right: 10px ;
    box-shadow: 10px 10px 15px;
    margin:5px;
}
.alt{
    background-color: rgb(223, 245, 220);
}
.end{
    background-color:rgb(239, 250, 210);
}
.whl{
    background-color: darkred;
}